.UI__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 10px;
}
.UI__loader_body {
  position: relative;
  padding: 10px 20px;
}
.UI__loader_title {
  color: #333;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
.UI__loader_line {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background: #1976d2;
  border-radius: 5px;
  animation: loader 1.5s linear infinite;
}
@media screen and (max-width: 1000px) {
  .UI__loader {
    padding: 50px 10px;
  }
  .UI__loader_title {
    font-size: 14px;
  }
}
@-moz-keyframes loader {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    left: initial;
    right: 0;
    width: 0%;
  }
}
@-webkit-keyframes loader {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    left: initial;
    right: 0;
    width: 0%;
  }
}
@-o-keyframes loader {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    left: initial;
    right: 0;
    width: 0%;
  }
}
@keyframes loader {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    left: initial;
    right: 0;
    width: 0%;
  }
}
