.content {
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  .content {
    padding: 10px;
  }
}
.add {
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px #eee;
}
.add__title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 40px 0;
}
.add__box {
  margin: 0 0 20px 0;
}
.add__box:last-child {
  margin: 0;
}
.add__input {
  display: block;
  width: 100%;
  background: transparent;
  border: 2px solid #1976d2;
  border-radius: 5px;
  font-size: 18px;
  color: #333;
  padding: 10px;
}
.add__box-submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.add__submit {
  font-size: 16px;
  padding: 10px 30px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid #1976d2;
  border-radius: 5px;
  background-color: #1976d2;
}
.add__submit:hover {
  color: #1976d2;
  background: transparent;
}
.add__error {
  display: none;
  opacity: 0;
  font-size: 18px;
  color: #c41e3a;
  transition: 0.5s;
  text-align: right;
  margin: 20px 0 0 0;
}
.add__error-visible {
  display: block;
  opacity: 1;
}
.list {
  border-radius: 5px;
  margin: 20px 0 0 0;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px #eee;
}
.list__title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 40px 0;
}
.list__link {
  display: block;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: 0.2s;
}
.list__link:hover {
  background: #eee;
}
