AddDefaultCharset UTF-8
#
<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_URL} !^/.*
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^. index.php
</IfModule>