@import './props.styl'


// .list
//     margin: 20px 0 0 0 
//     border-radius: 5px
//     background: color_2
//     padding: 20px
//     box-shadow: 0px 0px 5px 0px color_4

//     &__title
//         font-size: 20px
//         font-weight: 700
//         margin: 0 0 40px 0
    
//     &__link
//         display: block
//         padding: 10px
//         border-radius: 5px
//         font-size: 18px
//         color: color_1
//         cursor pointer
//         transition: 0.2s
//         &:hover
//             background: color_4

// .add
//     border-radius: 5px
//     background: color_2
//     padding: 20px
//     box-shadow: 0px 0px 5px 0px color_4

//     &__title
//         font-size: 20px
//         font-weight: 700
//         margin: 0 0 40px 0

//     &__box
//         margin: 0 0 20px 0
//         &:last-child
//             margin: 0

//     &__label
//         display: block
//         font-size: 18px
//         margin: 0 0 5px 0

//     &__select
//         display: block
//         width: 100%
//         max-width 800px
//         background: transparent
//         border: 2px solid color_3
//         border-radius: 5px
//         font-size: 18px
//         color: color_1
//         cursor pointer
//         padding: 10px

//         &_option
//             font-size: 18px
    
//     &__input
//         display: block
//         width: 100%
//         background: transparent
//         border: 2px solid color_3
//         border-radius: 5px
//         font-size: 18px
//         color: color_1
//         padding: 10px
    
//     &__input-date
//         display: block
//         width: 390px
//         background: transparent
//         border: 2px solid color_3
//         border-radius: 5px
//         font-size: 18px
//         color: color_1
//         padding: 10px
//         margin: 0 20px 0 0


//     &__box-date
//         display: flex
//         align-items: center
//         justify-content: flex-start

//     &__box-submit
//         display: flex
//         align-items: center
//         justify-content: flex-end
    
//     &__submit
//         font-size: 16px
//         padding: 10px 30px
//         text-transform: uppercase
//         color: color_2
//         cursor pointer
//         transition: 0.2s
//         border: 2px solid color_3
//         border-radius: 5px
//         background-color: color_3
//         &:hover
//             color: color_3
//             background: transparent

//     &__error
//         display: none
//         opacity: 0
//         font-size: 18px
//         color: color_5
//         transition: 0.5s
//         text-align: right 
//         margin: 20px 0 0 0
//         &-visible
//             display: block
//             opacity 1


.invoices
    border-radius: 5px
    background: color_2
    padding: 20px
    box-shadow: 0px 0px 5px 0px color_4

    &__title
        font-size: 20px
        font-weight: 700
        margin: 0 0 40px 0
    
    &__date
        margin: 0 0 40px 0

    &__item
        padding: 10px
        display: flex
        align-items: center
        justify-content: flex-start
        transition: 0.2s
        border-radius: 0 5px 5px 0
        border-left: 5px solid color_4
        &:hover
            background: color_4

    &__check
        width: 20px
        height 20px
        cursor pointer
        outline: none
        margin: 0 20px 0 0
        flex-shrink: 0
    
    &__name
        font-size: 20px
        flex-grow: 1
        color: color_1

    &__amount
        font-size: 16px
        padding: 5px
        color: color_1
        border: 2px solid color_3
        border-radius: 5px
        width: 100%
        display: block
        max-width: 200px
    
    &__box-submit
        margin: 40px 0 0 0
        display: flex
        align-items: center
        justify-content: flex-end

    &__submit
        font-size: 16px
        padding: 10px 30px
        text-transform: uppercase
        color: color_2
        cursor pointer
        transition: 0.2s
        border: 2px solid color_3
        border-radius: 5px
        background-color: color_3
        &:hover
            color: color_3
            background: transparent