color_1 = #333
color_2 = #fff
color_3 = #1976d2
color_4 = #eee

fontFamily = 'Roboto'

tDelay = 0.2s // transition value

withoutHighlighting()
    user-select: none
    -moz-user-select: none
    -khtml-user-select: none
//
