@import './props.styl'


.UI
    &__loader
        display: flex
        align-items: center
        justify-content: center
        padding: 100px 10px
    
        &_body
            position relative
            padding: 10px 20px
        
        &_title
            color: color_1
            font-size: 16px
            text-transform: uppercase
            text-align: center
        
        &_line
            width: 100%
            position: absolute
            bottom: 0
            left: 0
            height 5px
            background: color_3
            border-radius: 5px
            animation: loader 1.5s linear infinite

@keyframes loader
    0% 
        width: 0%
    50%   
        width: 100%  
    100%
        left: initial
        right: 0
        width: 0%

@media screen and (max-width: 1000px)
    .UI
        &__loader
            padding: 50px 10px
                    
            &_title
                font-size: 14px